<footer class="fl w-100 pv4 mb4 tc">
  <p>
  Code is <b>MIT</b> / Content is
  <a class="b dim lgb" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>
  </p>
</footer>

<!-- trololololo -->
<script type="text/javascript" defer>
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.mayeu.me"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//eol.yourt.es/";
    _paq.push(['setTrackerUrl', u+'trololololo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'trololololo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//eol.yourt.es/trololololo.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End trololololo Code -->

</body>
</html>
