<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="bg-vdgb lgb sans-serif">

<head>
    <title>{{ $.Site.Title }}</title>
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="Mayeu">
    <meta name=description content="Mayeu's personal website and blog">

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    {{ $style := resources.Get "css/style.scss" | resources.ToCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <meta name="flattr:id" content="vlog7n">
    <link rel="preconnect" href="https://api.getdrip.com">
    <link rel="dns-prefetch" href="https://eol.yourt.es">
</head>

<body>
