<header class="fl w-100 ph3 ph5-ns mv4 tc">
  {{ $avatar := resources.Get "images/avatar.jpg" | fingerprint }}
  <img src="{{ $avatar.Permalink }}" class="br-100 pa1 ba b--lgb h3 w3" alt="avatar">
  <h1 class="lh-title">
    <a class="link dim sans-serif f2-ns fw4 tracked lgb" href="/">{{ .Site.Params.Title }}</a>
  </h1>

  <h2 class="f5 tc sans-serif fw3 tracked lgb i mb4">{{ .Site.Params.Description }}</h2>

  <div class="mb1">
    {{- with .Site.Params.social -}}
      {{ partialCached "social-icons.html" . }}
    {{- end -}}
		{{ with .OutputFormats.Get "rss" -}}
			<a class="link dim lgb dib ml3 tc" href="{{ .Permalink }}" target="_blank" rel="noopener" title="{{ $.Site.Title }}">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>
			</a>
		{{ end -}}
  </div>

  <div class="mb4">
    {{ if .IsTranslated }}
      {{ range .Translations }}
      <p>
        <a class="sans-serif link dim lgb tc underline" href="{{ .Permalink }}">{{ .Site.Params.Switcher }}</a>
      </p>
      {{ end}}
    {{ end }}
  </div>

  {{ partial "separator-line" }}

</header>

