@import "tachyons.scss";

.bg-vdgb {
  background-color: #494f5c;
}

.bg-lgb {
  background-color: #c6cddb;
}

.lgb {
  color: #c6cddb;
}

.b--lgb {
  border-color: #c6cddb;
}

/* 
 * Whyyy ? I don't know, but it is needed to make the source code responsive
 * friendly ¯\_(ツ)_/¯
 */
pre {
    @extend .mw4;
}

p code {
  color: black;
  @extend .b--solid;
  @extend .b--lgb;
  @extend .br3;
  @extend .bg-lgb;
}

pre, code {
  font-size: 0.85em;
}

a {
  @extend .lgb;
}

blockquote {
  @extend .b--lgb, .bl, .bw3;
  @extend .pl3, .pr3;
  @extend .ml3, .mr3;
}
