<!-- trololololo -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.mayeu.me"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//eol.yourt.es/";
    _paq.push(['setTrackerUrl', u+'trololololo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'trololololo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//eol.yourt.es/trololololo.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End trololololo Code -->

<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '7863279';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/7863279.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
