<footer class="t-hackcss-footer">
  <hr />

  <div class="grid t-hackcss-sm-reversed-grid">

    <div class="cell -5of12">
      <div class="contact-list">
        {% for social in site.social %}
          {% assign template = social.service|prepend:"icon-"|append:".html" %}
          <p class="t-hackcss-social">
            <i class="t-hackcss-icon">{% include {{ template }} %}</i>
            <a href="{{ social.link }}">{{ social.username }}</a>
          </p>
        {% endfor %}
      </div>
    </div>

    <div id="footer-spacer" class="cell -1of12"></div>

    <div class="cell -6of12">
      <p>{{ site.description }}</p>
    </div>
  </div>

</footer>
