<!doctype html>
<html class="no-js about-me" lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Matthieu «Mayeu» Maury | $title$</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

      <link rel="author" href="humans.txt">

      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/main.css">
   </head>
   <body>
      <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div class="container">
        $body$

        <footer>
          <p>
            :: <a href="/">home</a>
            :: <a href="/blog">blog</a>
            :: <a href="/contact">contact</a>
            :: <a href="https://github.com/Mayeu">github</a>
            :: <a href="https://twitter.com/Mayeu">twitter</a>
            :: <a href="http://www.linkedin.com/in/mayeu/en">linkedin</a> ::
          </p>
        </footer>
      </div>

      <script src="/js/live.js"></script>
      <script src="/js/plugins.js"></script>
      <script src="/js/main.js"></script>
   </body>
</html>
