<!doctype html>
<html class="no-js about-me" lang="">

  {% include head.html %}

  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="container">
      <div class="content">
        {{ content }}
      </div>

      <footer>
        <hr />
        <p>
          :: <a href="/">home</a>
          :: <a href="/blog">blog</a>
          :: <a href="https://github.com/Mayeu">github</a>
          :: <a href="https://twitter.com/Mayeu">twitter</a>
          :: <a href="http://www.linkedin.com/in/mayeu/en">linkedin</a>
          :: <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a> ::
        </p>
      </footer>
    </div>

    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//eol.yourt.es/";
        _paq.push(['setTrackerUrl', u+'trololololo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'trololololo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//eol.yourt.es/trololololo.php?idsite=2" style="border:0;" alt="" /></p></noscript>
  </body>
</html>
