<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="hack">

    <main class="container grid">
      <main class="cell 12of12">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
      </main>
    </main>

    <!-- Prism.js -->
    <script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>

    <script type="text/javascript">
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
    </script>

    {% include add-your-stuff-footer.html %}
  </body>

</html>
