%p
  You can contact me by e-mail. My user name (the things before the @) is m, and my domain (the things after the @) is the same as this web site.

%p
  If you contact me, please sign your e-mail, or better, encrypt it. There is all you need:

%ul
  %li short id: 0x25510AAE
  %li long id: 0xF20185F925510AAE
  %li fingerprint: B482 A1DD 8951 B28B 5A4E  0669 F201 85F9 2551 0AAE
