%p
  You can contact me by e-mail. My user name (the things before the @) is m and my domain (the things after the @) is the same as this web site.

%p
  If you contact me, please cryptographically sign your e-mail, or better, encrypt it totally. There is all you need:

%ul
  %li short id: 0xB00DA693
  %li long id: 0x22B10496B00DA693 
  %li fingerprint: A016 F2D8 0472 1186 1B33  A419 22B1 0496 B00D A693
