-# coding: utf-8

%p
  This is my Geo resume. Click on the dot to get info on what I did there :)

%dl{:id => 'legend'}
  %dt
    Work place
  %dd
    %img{:src => '/img/lightblue.png', :alt => 'lightblue'}
  %dt
    Higher Education
  %dd
    %img{:src => '/img/green.png', :alt => 'green'}
  %dt
    Primary and secondary school
  %dd
    %img{:src => '/img/red.png', :alt => 'red'}
  %dt
    Place of birth
  %dd
    %img{:src => '/img/blue-dot.png', :alt => 'blue'}

<iframe width="690" height="650" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=117613946254211988953.000492864afc853752fd6&amp;t=h&amp;ll=35.979816,-27.347717&amp;spn=47.75207,89.983521&amp;output=embed"></iframe>
<br />
<small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=117613946254211988953.000492864afc853752fd6&amp;t=h&amp;ll=35.979816,-27.347717&amp;spn=47.75207,89.983521&amp;source=embed" style="color:#0000FF;">Geo Resume</a> in a larger map</small>
