%p
  Hello, my name is Matthieu Maury and I freshly graduate from the
  %strong Computer Science engineering
  department at ESIL.

%p
  My main interest in this world are:
  %span.hgl Neuroscience & Neuroprosthetics
  %span.hgl Computer Security
  %span.hgl Network & Distribution
  %span.hgl Open Source
  %span.hgl Transhumanism & Posthumanism
  %span.hgl C & Ruby
  %span.hgl Datalove
  %span.hgl Snowboard
  %span.hgl H2G2
  and
  %span.hglend tea

%p
  You can find more info about me in the menu on the left.

%p
  %strong Contact
  %ul
    %li short id: 0x25510AAE
    %li long id: 0xF20185F925510AAE
    %li fingerprint: B482 A1DD 8951 B28B 5A4E  0669 F201 85F9 2551 0AAE
