%p
  Hello, I am
  %strong Mayeu.

%p
  Sometimes I
  %strong craft things,
  other time I
  %strong use things,
  It also happens that I
  %strong explain things.
  But really, most of the times I
  %strong drink tea.

%p
  If you are here it is maybe because we have some interests in common:
  %span.hgl Neuroscience & Neuroprosthetics
  %span.hgl Astronomy
  %span.hgl Computer Security
  %span.hgl Network & Distribution
  %span.hgl Open Source
  %span.hgl Transhumanism & Posthumanism
  %span.hgl C & Ruby
  %span.hgl Datalove
  %span.hgl Snowboard
  %span.hgl H2G2
  %span.hgl Meditation
  %span.hgl P&P RPG
  and
  %span.hglend tea

- page_articles.each_with_index do |article, i|
  %h2
    = link_to article.title, article
    %span= article.date.strftime('%b %e')
